ul.dropdown-menu {
    display: none ;
}
.control-footer {
    background-color: white;
    padding: 1.1%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    overflow: hidden;
}

#headerDesktop{
    display: block !important;
}

#loader {
    position: fixed;
    z-index: 1021;
    width: 100%;
    padding: 300px 27%;
    background-color: white;
    height: 100vh;
    opacity: .8;
    top: 0;
}

.editable{
    position: relative;
}

.btn-editar,.btn-editar-direccion{
    font-size: 18px;
    text-decoration: none;
}

button.swal2-confirm.swal2-styled.swal2-default-outline {
    color: black;
}


.circle {
    border-radius: 60%;
    /* margin: 0.15em; */
    font-size: .7em;
    background-color: #b8b4b8;
    color: white;
    padding: 4px;
    /* position: absolute; */
    opacity: .8;
    /* margin-top: 15px; */
    right: 151%;
    vertical-align: super;
    width: 20px;
    height: 20px;
    position: relative;
}

.btn-editar-bloque {
    background-color: #ff03c9;
    display: inline-block;
    border-radius: 40px;
    padding: 7px 20px;
    text-decoration: none;
    color: white;
}
.btn-editar-bloque:hover {
    color: white;
    background-color: #F8B7CB;
}

.cmn-t-pulse {
    animation: pulse 1s ease infinite;
    /* transition: transform 0.2s; */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.caja-color{
    border: solid 1px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}



.editable:hover > *[contenteditable="true"] {
    background-color: #f3f3f3;
    outline: 1px dashed #ccc;
    padding: 3px;
  }

  .editable:focus-within > *[contenteditable="true"] {
    background-color: #f3f3f3;
    outline: 1px dashed #ccc;
    padding: 3px;
  }

  /* [contenteditable] {
    outline: 1px dashed #eee;
    padding: 3px;
  } */

/* .blq-edit{
    border: dashed #ccc;
} */
.top-fixed{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

.bottom-fixed {
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}


.row.direccion {
    position: relative;
}

.bloqueo {
    background-color: black;
    height: 100%;
    opacity: .50;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
}


.leyenda-compra{
    color: white;
    padding: 10px 40px;
    font-size: 2.2em;
    font-family: 'Josefin Slab'
}

.control-bloqueo {
    position: absolute;
    z-index: 10;
    padding: 30px;
    width: 100%;
}

a.btn.btn-secondary.btn-lg {
    background-color: #a1938f;
    border: solid 2px;
}

.file-preview-container {
    width: 100%;
    margin-bottom: 10px;
}

.file-preview-container img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.file-icon {
    /* Add styling for non-image file preview */
    display: block;
    width: 100%;
    height: 50px; /* You can adjust the height as needed */
    background-color: #eee;
    text-align: center;
    line-height: 50px;
}


.filepond--drop-label.filepond--drop-label label {
    display: block;
    margin: 0;
    padding: .5em;
    color: white;
    font-size: 1em;
}

.dropdown-menu.dropdown-menu-lg-end.show {
    transform: none !important;
    top: 29px !important;
}

.filepond--drop-label {
    background-color: gray;
}

#caja_musica {
    position: fixed;
    right: 10px;
    z-index: 1100;
    top: 10%;
    width: 100px;
}

#reproductor {
    width: 100%;
}

.topbar-sale {
    width: 100%;
    background-color: rgba(255, 255, 255, .4);;
    padding: 10px;
    position: fixed;
    z-index: 10000;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
}



@media (min-width:320px)  { 

}
@media (min-width:481px)  { 
   
 }
@media (min-width:641px)  { 
    .sticky-bottom.control-footer {
        position: fixed;
        width: 100%;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
}
@media (min-width:1024px) {
    .sticky-bottom.control-footer {
        padding: 3vh;
    }
    .btn-control {
        font-size: 1.2em;
    }
}